$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import '~node_modules/octicons/build/build.css';

body {
  padding-top: 64px;
}

h1,
h3 {
  text-align: center;
}

h1 {
  line-height: 0;
}

.navbar {
  width: 100%;
}

.navbar-brand {
  font-size: 34px;
}

.dropdown-menu {
  padding: 20px;
  padding-top: 0;
  width: 300px;
}

.sign-in-forms {
  margin-bottom: 10px;
}

.form-signin-heading {
  text-align: center;
}

main {
  clear: both;
}

.test-sign-up {
  border: 1px solid #000;
  margin-top: 64px;
  padding: 20px;
  width: fit-content;
}

.sign-up-header {
  margin-top: 0;
}

// footer {}

// breakpoint set for iPhone 7
@media screen and (max-width: 420px) {
  body { padding-top: 84px; }
  .gh-btn { margin: 0 auto; }
}
