$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$navbar-black: #263238;
$white: #fff;

body {
  margin: 0;
  padding: 0;
  padding-bottom: 84px;
  padding-top: 64px;
}

h1,
h3 {
  text-align: center;
}

// h1 {
//   line-height: 0;
// }

.create-account-btn {
  margin-bottom: 84px;
  width: fit-content;
}

.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0;
  // position: fixed;
  width: fit-content;
}

.about-header {
  text-align: right;
  text-decoration: underline;
}

.about-text {
  padding: 20px;
  // padding-top: 40px;
  text-align: left;
}

.top-navbar {
  background: #1a562e !important;
  width: 100%;
}

.mm-nav {
  background-color: $navbar-black;
}

.navbar-inverse {
  .navbar-brand {
    color: $white;
    font-size: 34px;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #ddd;
}

.account-nav-header {
  text-align: right;
}

.dropdown-menu {
  padding: 20px;
  padding-top: 0;
  width: 300px;
}

.sign-in-forms {
  margin-bottom: 10px;
}

.form-signin-heading {
  text-align: center;
}

main {
  // clear: both;
}

.test-forms-holder {
  margin: 40px auto 0;
}

.create-ingredient-test-container {
  border: 1px solid $black;
  display: none;
  // float: left;
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
}

.sign-in-modal {
  width: fit-content;
}

.sign-up-test-container {
  border: 1px solid $black;
  // float: left;
  padding: 20px;
  width: fit-content;
}

.get-ingredients-test-container {
  border: 1px solid $black;
  // border-top-left-radius: 200px;
  display: none;
  margin: 0 auto;
  // margin-left: 50px;
  padding: 0;
  padding-top: 20px;
  // width: fit-content;
}

.fridge {
  margin-left: 50px;
}

.update-ingredient-container {
  border: 1px solid $black;
  display: none;
  // float: left;
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
}

.sign-up-header {
  margin-top: 0;
  text-align: center;
}

.sign-up-buttons {
  margin: 0 auto;
  text-align: right;
}

.account-nav {
  display: none;
}

.blurb {
  background: #eee;
  margin: 42px 0;
  padding: 20px;
}

.signature {
  font-family: 'La Belle Aurore', cursive;
  margin-top: 5px;
  text-align: left;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.log-out-btn {
  margin: 0 auto;
  width: fit-content;
}

.logged-in-dropdown {
  display: none;
}

// footer {}

// breakpoint set for iPhone 7
@media screen and (max-width: 420px) {
  body {
    padding-bottom: 124px;
    padding-top: 84px;
  }

  .gh-btn { margin: 0 auto; }
}
